$background-light: #F1F0F0; // very light background color
$background-middle: #6593A0; // mid tone turquoise color;
$background-dark: #E4E9D3; 
$border-color: #AFAAA7; //light gray thin border color
$maintext-color: #1D1D1F; // maintext "black" color
$cta-color:#FF6A60; // hover state "orange" color in nav

$text-light: #FFFFFF;

// other colors that may use:
// $background-middle: #E1DCD0; // mid tone beige yellowish color;
