$background-light: #F1F0F0; // very light background color
$background-middle: #EBEBE6; // mid tone beige color;
$background-dark: #6593A0;// dark tone turquoise color;
$border-color: #AFAAA7; //light gray thin border color;
$focus-color: #d8d1cd; //lighter gray input focus color
$maintext-color: #1D1D1F; // maintext "black" color
$cta-color:#FF6A60; // hover state "orange" color in nav
$cta-light:#EBEBE6; // hover state "light beige"  (same as background-middle, replaced #e2e2e2, background color in buttons

$text-light: #FFFFFF; // used with a darker background