$background-light: #F1F0F0; // very light background color
$background-middle: #EBEBE6; // mid tone beige color;
$background-dark: #6593A0;// dark tone turquoise color;
$border-color: #AFAAA7; //light gray thin border color
$maintext-color: #1D1D1F; // maintext "black" color
$cta-color:#FF6A60; // hover state "orange" color in nav

$text-light: #FFFFFF;

